*{
  font-family: 'Dancing Script', cursive;
}
img{
  box-shadow: 2px 2px #02010a;
}
h1{
  font-size: 2em;
}
#Contenido{
  background-color: #02010a;
  margin: 0 auto;
  animation: mianimacion 3s;
}
#Encabezado{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  padding: 30px;
}
#Encabezado .Titulo{
  color: white;
  text-shadow: 2px 2px #02010a;
}
#Encabezado .Menu{
  font-size: 1.2em;
  word-spacing: .5em;
  padding: 30px;
}
#Encabezado .Menu a{
  color: white;
}
#Encabezado .Menu a.active{
  text-decoration: none;
}
#Cuerpo a{
  color: black;
  text-decoration: underline;
}
#Img_Central{
  background-color: #82c3a6;
  padding: 30px;
}
#Img_Secundaria{
  background-color: #d5c75f;
  text-align: center;
}
#Img_Secundaria img{
border: 1px solid;
}

#Img_Secundaria .Img_Izquierda{
  padding: 30px;

}
#Img_Secundaria .Img_Derecha{
  padding: 30px;
}
#Img_Secundaria .Img_Izquierda img:hover{
  transform: rotatez(10deg);
  box-shadow:  2px 2px #82c3a6;
  transition: transform 1s;
}
#Img_Secundaria .Img_Derecha img:hover{
  transform: translate(20px, -5px);
  box-shadow:  2px 2px #82c3a6;
  transition: transform 1s;
}

#Pie{
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  padding: 30px;
}
#Pie a[href]{
  color: black;
  text-decoration: none;
}
#Pie p {
  text-indent: 5px;
}
#Pie img{
  align: center;
}

#Pie .Redes_Sociales a{
  align: center;
}


@-webkit-keyframes mianimacion{
  0%{
    transform: translate(0%, 100%);
  }
  60%{
  transform: translate(0%, -5%);
  }
  100%{
    transform: translate(none);
  }
}

@media (max-width: 899px){
  #Contenido{
    width: 100%;
  }
  #Encabezado{
    display: block;
  }
  #Encabezado .Titulo{
    text-align: center;
  }
  #Encabezado .Menu{
    text-align: center;
  }
  #Img_Secundaria{
    display: block;
    text-align: center;
  }
  #Img_Secundaria [class|="Img_"]{
    padding: 30px;
  }
  #Pie{
    display: block;
  }
}

@media (min-width: 900px) {
  #Contenido{
    width: 900px;
  }
  #Encabezado{
    display: flex;
  }
  #Encabezado .Titulo{
    text-align: left;
    flex-grow: 2;
  }
  #Encabezado .Menu{
    text-align: right;
    flex-grow: 1;
  }
  #Img_Secundaria{
    display: flex;
    flex-flow: row nowrap;
  }
  .Img_Izquierda{
    width: 50%;
    flex-grow: 1;
  }
  .Img_Derecha{
    width: 50%;
    flex-grow: 1;
  }
  #Pie{
    display: flex;
    flex-flow: row nowrap;
  }
  #Pie .Contactos{
    flex-grow: 1;
  }
  #Pie .Terminos{
    flex-grow: 1;
  }
  #Pie .Redes_Sociales{
    flex-grow: 1;
  }
  #Pie .Derechos{
    flex-grow: 1;
  }
}
